<html>
    <head>
        <title>
            Form Page!
        </title>
    </head>
    <body>
        <h1 style="text-align: center; color:gray">
            Fill Up The Form Below...
        </h1>
        <hr>
        <form method = 'POST' action = '/admin/addProduct'>
            <label for="textip">Enter Product : </label>
            <input type = 'text' id="textip" name = 'bodyInput'/>
            <br>
            <input type = 'submit' value = 'Add Product!'/>
        </form>
    </body>
</html>